body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex-grow: 1;
    }
}

.form-bg {
    background: $form-bg;
}

.form-group-flex {
    display: flex;

    label {
        margin-left: 25px;
    }
}

.main-content{
    margin-top: 55px;
    background-color: snow;
}
